* {
  box-sizing: border-box;
 }

body {
 background-color: #ffffff;
 height: 100vh;

}
.head{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.head::after{
  content: "";
  width: 100%;
  border: 1px solid #e6e6e6;
  margin-top: 10px;
  margin-bottom: 10px;
}
.top-bar {
  display: flex;
  justify-content: center;
  position: relative;
}
.top-bar .org-icon img {
   position: absolute;
   left: 20px;
}

.top-bar .register-farm {
   position: absolute;
   right: 50%;
}

.top-bar .profile-icons {
  position: absolute;
  right: 10%;
}

.search-bar-container {
  justify-content: center;
  display: flex;
  margin-top: 20px;
}

.search-bar {
  width: 50%;
  border-radius: 25px;
  outline: none;
  border: 2px solid #ccc;
  font-size: 16px;
  transition: border-color 0.3s ease;
  padding: 10px 20px;
}
.navbar {
  display: flex;
  justify-content: space-around;
}
.nav-item {
  text-align: center;
}

.icon {
  height: 30px;
  width: 30px;
}
.plant-name {
   margin-top: 5px;
   font-size: 14px;
   color: #333;
        }

.category{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /**align-items: center;**/
  gap: 120px 16px;
  margin: 0 auto;
  padding: 20px 10px;
  padding-bottom: 100px;
}
.exa {
  width: 15.63vw;
  height: 27.78vh;
  position: relative;
  background-color: grey;
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
}

.description {
  font-weight: 16px;
  top: 300px;
  margin: 0;
}

.description p {
  margin: 3px 0;
  padding: 0;
}

button[id="buttonItem"] {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 10px;
  border-radius: 48%;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.exa:hover button{
  opacity: 1;
}
button.prev {
  left: 10px;
}
button.next {
  right: 10px;
}

.social-links {
  height: 50px;
  display: flex;
  padding-top: 10px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-bottom: 10px;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40%;
}
/**
.footer-section {
  flex-basis: 45%;
}
**/
.footer h3 {
  margin-top: 0;
  font-size: 1.2rem;
}

.footer ul {
  list-style-type: none;
  padding: 0;
}

.footer ul li {
  margin: 5px 0;
}

.footer ul li a {
  color: #0d0d0d;
  text-decoration: none;
}

.footer ul li a:hover {
  text-decoration: underline;
}

/* Responsive footer */
@media screen and (max-width: 600px) {
  .footer-section {
  flex-basis: 100%; /* Stack sections vertically on small screens */
}

input[type="search"] {
  border: none;
  background: transparent;
  margin: 0;
  padding: 7px 8px;
  font-size: 14px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
}

input[type="search"]::placeholder {
  color: #bbb;
}

button[type="submit"] {
  text-indent: -999px;
  overflow: hidden;
  height: 30px;
  width: 50px;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: 100%;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
  cursor: pointer;
  opacity: 0.7;
}

button[type="submit"]:hover {
  opacity: 1;
}
button[type="submit"]:focus,
input[type="search"]:focus {
  box-shadow: 0 0 3px 0 #1183d6;
  border-color: #1183d6;
  outline: none;
}
